<div id="<%= dom_id expense %>" class="w-4/5">

  <div class="flex justify-between">
  <div class="">
    <div><p><%= @group_id.name %>:</p> </div>
    <div> <p><%= expense.name %></p> </div>
   </div>    
    <div class="w-1/4">
    <p>$ <%= expense.amount %></p>
    </div>
  </div>
</div>



